@mixin flexJustifyAlgin($justify: center, $align: center) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: $justify;
      -ms-flex-pack: $justify;
          justify-content: $justify;
  -webkit-box-align: $align;
      -ms-flex-align: $align;
          align-items: $align;
}

@mixin animationContainer($name) {
  -webkit-animation-name: $name;
          animation-name: $name;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
