/* main container */
$mainBgUrl: 'https://images.pexels.com/photos/5928/salad-healthy-diet-spinach.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940';
$mainBgGradient: linear-gradient(to bottom right, #5fb7eb, #067a3a, #107fc0);
$fontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fontColor: #000000;

/* form */
$bannerColor: #999999;
$loginContainerBg: rgba(255, 255, 255, 0.9);
$headerFont: 'ZCOOL XiaoWei', serif;

/* inputs */
$loginInputsBg: transparent;
$inputBottomColor: #dbdbdb;
$inputBottomColorFocus: #57941e;
$inputIconColor: #999999;
$inputIconColorFocus: #57941e;

/* buttons */
$buttonFontColor: #ffffff;
$buttonBgFirst: #57941e;
$buttonBgSec: #63a724;

/* links */
$linkColor: #999999;
$linkColorHover: #57941e;
