<div class="main__container">
  <section class="col-8 col-lg-4 registration__container">
    <div>
      <h1>
        Cheerio
      </h1>
    </div>
    <form class="registration__form">
      <div>
        <span class="form__label">
          Email
        </span>
        <input formControlName="email"
        placeholder="Email addess..."
        type="email" />
        <span></span>
      </div>
      <div>
        <span class="form__label">
          Username
        </span>
        <input formControlName="email"
        placeholder="Username..."
        type="email" />
        <span></span>
      </div>
      <div>
        <span class="form__label">
          Password
        </span>
        <input formControlName="password"
        placeholder="Password..."
        type="password" />
        <span></span>
      </div>
      <div>
        <span class="form__label">
          Confirm password
        </span>
        <input formControlName="password"
        placeholder="Password..."
        type="password" />
        <span></span>
      </div>
      <div class="form__container">
        <div>
          <button class="btn form__container--btn"
          type="submit">
            Sign Up
          </button>
        </div>
        <div>
          <span class="form__container--link">
            <a (click)="goToLogin()">
              Sign in
              <i class="fas fa-long-arrow-alt-right"></i>
            </a>
          </span>
        </div>
      </div>
    </form>
  </section>
</div>
