<nav class="navbar navbar__container">
  <a class="navbar__logo" (click)="goToHome()">
    Cheerio
  </a>
  <button class="navbar__toggler"
   type="button"
   data-toggle="collapse"
   data-target="#navbarNav"
   (click)="hamburgerAnimation()">
    <span [ngClass]="hamburger ? 'bar__top--cross' : 'bar__top'"></span>
    <span [ngClass]="hamburger ? 'bar__middle--cross' : 'bar__middle'"></span>
    <span [ngClass]="hamburger ? 'bar__bottom--cross' : 'bar__bottom'"></span>
  </button>
  <div class="collapse" id="navbarNav">
    <ul class="navbar__nav">
      <li>
        <a class="nav__link" (click)="goToLogin()">
          Login
        </a>
      </li>
    </ul>
    <div class="nav__logout" *ngIf="isLogged" (click)="logOut()">
        <i class="fas fa-sign-out-alt"></i>
    </div>
  </div>
</nav>
