<section class="add__container">
  <div class="col-12 col-md-5 result__container">
    <p class="text-center recipe__paragraph">
      <ng-container *ngIf="title?.length>0 else subtitle">
        {{title}}
      </ng-container>
      <ng-template #subtitle>
        Title
      </ng-template>
    </p>
    <p class="recipe__paragraph">
      <ng-container *ngIf="desc?.length>0 else fordesc">
        {{desc}}
      </ng-container>
      <ng-template #fordesc>
        Description
      </ng-template>
    </p>
    <span class="recipe__label px-0">
      Ingredients :
    </span>
    <ul *ngIf="ingredients.value?.length>0"
      class="recipe__ingredients"
      (click)="removeIngridientFromArray($event.target)">
      <li *ngFor="let item of ingredients.value; let i = index">
        {{item.name}}
        {{item.quantity}}
        {{item.unitId}}
        <i class="fas fa-times-circle" attr.data-index={{i}}></i>
      </li>
    </ul>
  </div>
  <div class="col-12 col-md-7 main__container">
    <form [formGroup]="recipeGroup">
      <div>
        <span class="recipe__label">
          Title:
        </span>
        <input formControlName="title"
        (input)="renderView()"
        class="form-control recipe__input"
        type="text">
      </div>
      <div>
        <span class="recipe__label">
          Description:
        </span>
        <textarea formControlName="desc"
        (input)="renderView()"
        class="form-control recipe__textarea"
        type="text">
        </textarea>
      </div>
    </form>
    <form [formGroup]="ingridientsGroup">
      <div>
        <span class="recipe__label">
          Ingredient:
        </span>
        <input formControlName="name"
        class="form-control col-6 recipe__input"
        type="text">
        <span *ngIf="errorService.errorsIngredientForm.name"
        class="alert alert__error">
          {{errorService.errorsIngredientForm.name}}
        </span>
      </div>
      <div>
        <span class="recipe__label">
          Quantity:
        </span>
        <input formControlName="quantity"
        class="form-control col-6 recipe__input"
        type="text">
        <span *ngIf="errorService.errorsIngredientForm.quantity"
        class="alert alert__error">
          {{errorService.errorsIngredientForm.quantity}}
        </span>
      </div>
      <div>
        <span class="recipe__label">
          Unit measure:
        </span>
        <input formControlName="unitId"
        class="form-control col-6 recipe__input"
        type="text">
        <span *ngIf="errorService.errorsIngredientForm.unitId"
        class="alert alert__error">
          {{errorService.errorsIngredientForm.unitId}}
        </span>
      </div>
    </form>
    <button class="btn btn-primary col-6 recipe__button"
    (click)="addIngridientToArray()">
      Add
    </button>
  </div>
</section>
