<div class="main__container">
  <section class="col-8 col-lg-4 login__container">
    <div>
      <h1>
        Cheerio
      </h1>
    </div>
    <form [formGroup]="loginGroup" class="login__form">
      <div>
        <input formControlName="login" placeholder="Email" type="email" />
        <i class="fas fa-at form__icon"></i>
        <span></span>
      </div>
      <div>
        <input formControlName="password" placeholder="Password" type="password" />
        <i class="fas fa-key form__icon"></i>
        <span></span>
      </div>
      <div class="form__container">
        <div>
          <button class="btn form__container--btn" type="submit" (click)="logIn()">
            Sign in
          </button>
        </div>
        <div>
          <span class="form__container--link">
            <a (click)="goToRegistration()">
              Sign Up
              <i class="fas fa-long-arrow-alt-right"></i>
            </a>
          </span>
        </div>
      </div>
    </form>
  </section>
</div>
