// add container
$mainBgUrl: 'https://images.pexels.com/photos/1070880/pexels-photo-1070880.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940';
$mainBgGradient: linear-gradient(to bottom right, #5fb7eb, #067a3a, #107fc0);
$mainColor: #ffffff;
$mainFontSize: 18px;

$inputsBorderColor: rgba(99, 167, 36, 0.4);

$buttonColor: #57941e;
$buttonColorHover: #63a724;

$recipeFont: 'ZCOOL XiaoWei', serif;

$timesColor: #949494;
$timesColorHover: #bb2702;

$optionColorHover: rgba(99, 167, 36, 0.8);

$buttonColorLighter: #73c12a;
