$bgColor: #f8f9fa;
$logoColor: #57941e;

/* toggler */
$togglerBorderColor: rgba(153, 153, 153, 0.3);
$togglerOutlineColor: #57941e;
$togglerIconBg: #999999;
$barHeight: 3px;
$barColor: #566973;

/* links */
$linkColor: rgb(77, 74, 74);
$linkHoverColor: #57941e;

$logoutColor: #57941e;
